@import "../utilities/variables";

.contact-container {
    padding-top: 7em;
    p {
        color: $dm-main-white;
    }
    a {
        text-decoration: underline;
        color: $dm-main-white;  
        &:hover {
            text-decoration: underline;
            color: $dm-link-blue;
        }
    }
}

.form-wrapper {
    height: auto;
    width: 100%;
    .form-group {
        align-content: center;
    }
    .form-control {
        width: 50%;
        margin: 0 auto;
    }
    .message-box {
        height: 15em !important;
    }
    .btn-secondary {
        width: 10em;
        height: 3em;
        color: $dm-main-black;
        background-color: $dm-main-white;
        &:hover {
            color: $dm-main-white;
            background-color: $dm-main-blue;
        }
    }
}

@media (max-width: 768px) {
    .contact-container {
        p {
            padding: 0.5em;
        }
        a {
            color: #1890ff;
        }
    }
    .form-wrapper {
        .form-control {
            width: 80%;
            margin: 0 auto;
        }
        .message-box {
            height: 10em !important;
        }
    }
}