.contact-container {
    padding-top: 7em;
}

.contact-container p {
    color: #ffffff;
}

.contact-container a {
    text-decoration: underline;
    color: #ffffff;  
}

.contact-container a:hover {
    text-decoration: underline;
    color: #1890ff;
}

.form-wrapper {
    height: auto;
    width: 100%;
}

.form-group {
    align-content: center;
}

.form-control {
    width: 50%;
    margin: 0 auto;
}

.message-box {
    height: 15em !important;
}

.btn-secondary {
    width: 10em;
    height: 3em;
    color: #252525;
    background-color: #ffffff;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #74C1FF;
}

@media (max-width: 768px) {
    .contact-container a {
        color: #1890ff;
    }
    .form-control {
        width: 80%;
        margin: 0 auto;
    }
    .message-box {
        height: 10em !important;
    }
}