@import "../utilities/variables";

.navbar {
    background-color: $dm-main-black;
    position: fixed !important;
    width: 100%;
    z-index: 1020;
    .name {
        margin: 1.5em 2em 1em 1.5em;
        height: 3em;
        cursor: pointer;
    }
    .nav-item {
        margin: 1vw 1vw 1vw 0vw;
        color: $dm-main-white;
        padding-bottom: 1vw;
        padding: 1em 1em 0.5em 1em;
        cursor: pointer;
    }
    .nav-item:hover { 
        color: $dm-link-blue;
        border-bottom: 2px solid $dm-link-blue;
    }
    .nav-item.active { 
        color: $dm-link-blue;
        border-bottom: 2px solid $dm-link-blue;
    }
    a.exlink {
        padding-bottom: 0.5em;
        margin-right: 2vw;
        color: $dm-gallery-border;
        font-size: 2em;
    }
    a.exlink:hover { 
        color: $dm-link-blue;
    }
    .hamburger {
        height: 1.8em;
        border-color: $dm-main-black;
    }
}