@import "../utilities/variables";

.photography-container {
    padding-top: 7em;
}

.gallery {
    max-width: 90%;
    margin: auto;
    img {
        width: 28em;
        background-color: $dm-gallery-border;
        border-radius: 0.5em;
        padding: 1em 1em 1em 1em;
        margin: 0.5em 0.5em 2em 0.5em;
    }
}

@media (max-width: 768px) {
    .gallery {
        img {
            max-width: 90%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gallery {
        img {
            max-width: 90%;
        }
    }
}
