.photography {
    width: 28em;
    background-color: #ffffff;
    border-radius: 0.5em;
    padding: 1em 1em 1em 1em;
    margin-bottom: 2em;
}

@media (max-width: 768px) {
  .photography {
    width: 90%;
  }
}