.project-grid {
    padding-left: 8em;
    padding-right: 8em;
}

.project-card {
    padding-bottom: 25%
}

.project-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 8px;
    z-index: 1;
}