.project-grid {
    padding-left: 10em;
    padding-right: 10em;
}

.project-card {
    height: 20em;
}

.project-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 8px;
    z-index: 1;
}