.resume-container {
    padding-top: 7em;
}

.resume-container img {
    height: 60em;
    padding-bottom: 3em;
}

.resume-container a {
    text-decoration: underline;
    color: #ffffff;
}

@media (max-width: 768px) {
    .resume-container img {
        height: 40em;
    }
    .resume-container a {
        color: #1890ff;
    }

}