.resumeImg {
    height: 60em;
    padding-bottom: 3em;
}

.resumeDownload {
    color: #ffffff;
}

@media (max-width: 768px) {
    .resumeImg {
        height: 40em;
    }
    .resumeDownload {
        color: #1890ff;
    }

}