@import "../utilities/variables";

.resume-container {
    padding-top: 7em;
    h1 {
        margin-bottom: 0em;
    }
    img {
        height: 60em;
        padding-bottom: 3em;
    }
    a {
        text-decoration: underline;
        color: $dm-main-white;  
        &:hover {
            text-decoration: underline;
            color: $dm-link-blue;
        }
    }
}

@media (max-width: 768px) {
    .resume-container {
        img {
            height: 40em;
        }
        a {
            color: $dm-link-blue;
        }
        p {
            padding: 0em 1em 0em 1em;
        }
    }
}