@import '~antd/dist/antd.css';
.App {
    text-align: center;
    height: 100vh;
    background-color: #252525;
    overflow-x: hidden;
}

.verticalCenter {
    padding: 0em 2em 0em 2em;
    min-height: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.constructionBox{
    margin-left: 1em;
    margin-right: 1em;
}

/* Headings */

h1 {
    font-weight: 700;
    font-size: 4em;
    color: #74C1FF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    font-weight: 700;
    font-size: 5em;
    text-align: left;
    color: #74C1FF;
    padding: 0em 1vw 0em 1vw;
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

h3 {
    font-weight: 700;
    font-size: 4em;
    text-align: left;
    color: #74C1FF;
    padding: 0em 1vw 0em 1vw;
    -webkit-animation: text-focus-in1 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in1 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

h4 {
    font-weight: 400;
    font-size: 3em;
    text-align: left;
    color: #74C1FF;
    padding: 0em 1vw 0em 1vw;
    -webkit-animation: text-focus-in2 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in2 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Mobile Sizing */

@media (max-width: 768px) {
    .verticalCenter {
        padding: 0em 1em 0em 1em;
    }
    h1 {
        font-size: 2.5em;
        color: #ffffff;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
    }
    h2 {
        font-size: 2.5em;
        text-align: center;
    }
    h3 {
        font-size: 2em;
        text-align: center;
    }
    h4 {
        font-size: 1.5em;
        text-align: center;
    }
}

/* For H1 */

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.8;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.8;
    }
}


/* For H2 */

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.8;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.8;
    }
}

/* For H3 */

@-webkit-keyframes text-focus-in1 {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.5;
    }
}

@keyframes text-focus-in1 {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.5;
    }
}

/* For H4 */

@-webkit-keyframes text-focus-in2 {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.3;
    }
}

@keyframes text-focus-in2 {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.3;
    }
}