@import '~antd/dist/antd.css';

.App {
  text-align: center;
  height: 100vh;
  background-color: #252525;
  overflow-x: hidden;
}

.verticalCenter {
  padding: 0em 3em 0em 3em;
  min-height: 80%;
  min-height: 80vh; 
  display: flex;
  align-items: center;
}

/* Headings */
h1 {
  font-weight: 700;
  font-size: 4em;
  color: #74C1FF;
  padding-top: 0.5em;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

h2 {
  font-weight: 700;
  font-size: 5em;
  text-align: left;
  color: #74C1FF;
  padding: 0em 1vw 0em 1vw;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

h3 {
  font-weight: 700;
  font-size: 4em;
  text-align: left;
  color: #74C1FF;
  padding: 0em 1vw 0em 1vw;
  -webkit-animation: text-focus-in1 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in1 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

h4 {
  font-weight: 400;
  font-size: 3em;
  text-align: left;
  color: #74C1FF;
  padding: 0em 1vw 0em 1vw;
  -webkit-animation: text-focus-in2 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in2 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Home Page */
.homeImg {
  height: 25em;
  border-radius: 50%;
  padding: 1em;
}

/* For H1 */
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 0.8;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 0.8;
    }
  }

/* For H2 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.8;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.8;
  }
}

/* For H3 */
@-webkit-keyframes text-focus-in1 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.5;
  }
}
@keyframes text-focus-in1 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.5;
  }
}

/* For H4 */
@-webkit-keyframes text-focus-in2 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.3;
  }
}
@keyframes text-focus-in2 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.3;
  }
}
